div#footer{
    background-color: rgb(54, 54, 54);
}
.footer-content{
    color: aliceblue;
    display: flex;
   max-width: 1200px;
   margin: 20px auto;
   padding-top: 60px;
   justify-content: space-between;
   gap: 40px;
}
.footer-copyright{
    color: aliceblue;
}
.footer-content-left img{
    margin-bottom: 10px;
}
.footer-content-left p{
    margin-bottom: 10px;
}
.footer-content-center li{
    list-style: none;
}
.footer-content-right li{
    list-style: none;
}
.footer-social-icons {
    display: flex;
    gap: 20px;
}
.footer-content-center h2{
    padding-bottom: 10px;
}
.footer-content-right h2{
    padding-bottom: 10px;
    text-wrap: nowrap;
}
p.footer-copyright{
    display: flex;
    justify-content: center;
    padding: 20px;
}
@media (max-width:750px) {
    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    .footer-copyright{
        text-align: center;
    }
    
}